#page2{
  display: none;
}

body{
  font-family: Georgia, serif;
  display:flex;
  flex-direction: column;
  width:400px;
  height:400px;
  background-color: white;
}
.container{
  align-self: center;
  align-items: center;
  width:380px;
  height:350px;
  border: solid #909090;
  border-radius: 5px;
  background-color:  rgb(229, 229, 229);
  font-size:x-large;
  display:flex;
  flex-direction: column;
}
.wordinfo{
    width:330px;
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
    margin-top:10px
}
.wordinfo label{
    margin-right: 10px;
}
.wordinfo input{
  margin-left: auto;
  width: 50px;
  height:30px;
  font-size:  24px;
  flex:1;
}
.wordinfo textarea{
  flex:1;
  width:150px;
  height:170px;
  font-size:  24px;
  box-sizing:border-box;
  resize:none;
}
button{
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  align-content: center;
}
button:hover{
  background-color: #ccc;
}
button:active{
  background-color: #9a9a9a;
}
.heading{
  display: flex;
  width: 400px;
}
h2{
  
  font-size: 25px;
  align-self: flex-start;
  margin:10px;
}
#settings{
  width:30px;
  height:30px;
  background-image:url(./icons/setting.png);
  background-size: 90%;
  background-position: center;
  background-repeat:no-repeat;
  border:none;
  margin-left: auto;
}
#sendButton{
  margin-top: 5px;
  /* margin-left: 90px; */
  font-family: Georgia, serif;
  font-size: x-large;
  width:330px;
  height:40px;
  background-color:#d6d6d6;
  align-content: center;
  border-radius: 5px;
}
#sendButton:hover{
  background-color: #ccc;
}
#sendButton:active{
  background-color: #9a9a9a;
}